#.gitignore
# Python Bytecode Files
__pycache__/
*.pyc
*.pyo

# Virtual Environment Folders
venv/
env/

# IDE Files
.idea/

# Logs
*.log

# Test Files
test.py

# Other files to ignore
*.env
*.sqlite
*.db
